@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

a {
  @apply no-underline dark:text-gray-300 text-gray-600;
}

.MuiDataGrid-filler {
  @apply !hidden;
}

.swal2-container {
  @apply z-[2000];
}

.swal2-popup {
  @apply dark:bg-gray-800 bg-white dark:text-gray-300 text-gray-600 font-[inherit];
}

.swal2-styled {
  @apply font-[inherit];
}

.swal2-confirm {
  @apply !bg-primary;
}

@layer base {
  body {
    @apply dark:bg-gray-800 bg-white dark:text-gray-300 text-gray-600;
  }
}

.bg-login {
  background: url("../assets/background.png"), #000;
  background-position: center;
  background-size: cover;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
