@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply no-underline dark:text-gray-300 text-gray-600;
}

@layer base {
  body {
    @apply dark:bg-gray-800 bg-white dark:text-gray-300 text-gray-600;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
